

<div class="btn-group" uib-dropdown is-open="status.isopen">
    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        List of Media <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-repeat="choice in mediaIdList">
            <a ng-click="setCurrentMedia(choice)">
                {{choice}}
            </a>
        </li>
    </ul>
</div>


<br>
<br>
<br>



<div class="row">
    <div class="col-md-9">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Tag Cloud graph of labels for {{currentChoice}}</h3>
            </div>
            <div class="panel-body">
                <div id="wordsCloud">
                    <word-cloud words=words width=width height=height
                                padding="0"
                                rotate=rotate
                                on-click=wordClicked>
                    </word-cloud>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Histrogram graph of labels for {{currentChoice}}</h3>
            </div>
            <div class="panel-body">

                <canvas id="bar" class="chart chart-bar"
                        chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>



            <p>{{selectedWord.text}}</p>
            <br>
            <p>{{selectedWord.size}}</p>

            </div>
        </div>
    </div>
</div>



<br>
<br>